<p>userform works!</p>
<input [(ngModel)] = 'user.name' placeholder="Enter your username">
<br/>
<input [(ngModel)] = 'user.age' placeholder="Enter your age please">
<input type="radio" [(ngModel)]="user.gender" value="Male"> Male
<input type="radio" [(ngModel)]="user.gender" value="Female">Female
<br/>
<button (click)="save()">Save user</button>
<ol>
    <li *ngFor='let user of users; index as i'>
        {{user.name}}, {{user.age}} <button (click)="deleteRow(user, i)">Delete user</button>
    </li>
</ol>

